@use "helpers" as *;

// slider-vertical
.vertical-slider .slick-dots {
  position: absolute;
  right: 1%;
  top: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  & li {
    margin-top: 10px;
    list-style: none;
  }
  & li button {
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid $color-white;
    background: transparent;
    padding: 0;
  }
  & li.slick-active button {
    background: $color-white;
  }
}

// slider-horizontal

.horisontal-slider .slick-dots {
  position: absolute;
  display: flex;
  gap: 20px;
  bottom: -12%;
  left: 50%;
  transform: translate(-50%, -50%);
  & li {
    margin-top: 10px;
    list-style: none;
  }
  & li button {
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid $color-white;
    background: transparent;
    padding: 0;
  }
  & li.slick-active button {
    background: $color-white;
  }
}

.horisontal-slider .slick-next {
  position: absolute;
  top: 50%;
  right: -4%;
  font-size: 0;
  background: transparent;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid $color-white;
  }
  &::after {
    content: "";
    position: absolute;
    top: -6px;
    left: -8%;
    width: 10px;
    height: 10px;
    border: solid $color-white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    transform: rotate(314deg);
  }
}

.horisontal-slider .slick-prev {
  position: absolute;
  top: 50%;
  left: -3%;
  font-size: 0;
  background: transparent;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid $color-white;
  }
  &::after {
    content: "";
    position: absolute;
    top: -6px;
    left: 20%;
    width: 10px;
    height: 10px;
    border: solid $color-white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    transform: rotate(136deg);
  }
}
