// color text
$color-main:rgba(44, 64, 88, 1);
$color-white:rgba(255, 255, 255, 1);
$color-blue: rgba(85, 183, 255, 1);
$color-light-gray:rgba(75, 85, 98, 1);
$color-violet:rgba(126, 90, 255, 1);


// button color
$color-button: rgba(0, 0, 0, 1);

// font family
$font-moncerat: 'Montserrat', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;
$font-source: "source-sans-pro", sans-serif;








